{% load static %}
<div class="text-center">
    <a href="/"><img src="{% static 'img/logo.png' %}" alt="logo Onlyflans" class="my-3"></a>
</div>
<div>
    {% if user.is_authenticated %}
        <div class="d-flex align-items-center justify-content-end">
            <p class="mb-1">Bienvenido, <span class="user-name-color">{{ user.username }}</span></p>
            <form id="logout-form" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger ms-2 btn-sm">Cerrar Sesión</button>
            </form>
        </div>
    {% else %}
        <div class="d-flex align-items-center justify-content-end">
            <p class="mb-1">Por favor, inicia sesión</p>
            <a href="{% url 'login' %}" class="btn btn-color ms-2 btn-sm">Ingresar</a>
        </div>
    {% endif %}
</div>