{% load static %}

<div class="sliding-banner">
    <div class="banner-item ms-4">Indicadores económicos de hoy:</div>
    <div class="banner-item ms-4">Dolar: ${{ indicators.dolar.valor }}<span class="ms-4">|</span></div>
    <div class="banner-item ms-4">Euro: ${{ indicators.euro.valor }}<span class="ms-4">|</span></div>   
    <div class="banner-item ms-4">UF: ${{ indicators.uf.valor }}<span class="ms-4">|</span></div>
    <div class="banner-item ms-4">UTM: ${{ indicators.utm.valor }}<span class="ms-4">|</span></div>
    <div class="banner-item ms-4">IPC: {{ indicators.ipc.valor }}%<span class="ms-4">|</span></div>
    <div class="banner-item ms-4">Bitcoin: ${{ indicators.bitcoin.valor }}<span class="ms-4">|</span></div>
</div>

<div class="text-center">
    <a href="/"><img src="{% static 'img/logo.png' %}" alt="logo Onlyflans" class="my-3"></a>
</div>
<div>
    {% if user.is_authenticated %}
        <div class="d-flex align-items-center justify-content-end">
            <p class="mb-1">Bienvenido, <span class="user-name-color">{{ user.username }}</span> | Categoría: <span class="user-name-color">{{ user_type | title }} </span></p>
            <form id="logout-form" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger ms-2 btn-sm">Cerrar Sesión</button>
            </form>
        </div>
    {% else %}
        <div class="d-flex align-items-center justify-content-end">
            <p class="mb-1">Por favor, inicia sesión</p>
            <a href="{% url 'login' %}" class="btn btn-color ms-2 btn-sm">Ingresar</a>
        </div>
    {% endif %}
</div>