<nav class="navbar navbar-expand-lg mb-3" style="background-color: #fff4ed;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prices">Precios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ayuda">Ayuda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Regístrate</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-primary" href="/welcome">Bienvenido</a>
          </li>
        {% endif %}
      </ul>
      <div class="d-flex">
        {% if user.is_authenticated %}
          <form id="logout-form" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger ms-2 btn-sm">Salir</button>
          </form>
        {% else %}
          <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Ingresar</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

{% if messages %}
    {% for message in messages %}
    <div class="row">
      <div class="col-3">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>
    {% endfor %}
{% endif %}