

{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center my-4">Suscripcion Gratuita</h3>
    <p class="text-center">Te estas suscribiendo </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolor ab architecto voluptatibus consequuntur nesciunt nisi, alias reprehenderit velit praesentium ex ipsam ut. Nostrum voluptate ducimus minima temporibus blanditiis perspiciatis.</p>
<div class="row">
    <div class="col-4 offset-4">
        <form method="post" action="{% url 'suscriptions' %}">
            {% csrf_token %} 
            <!-- {{ form }} --> Aqui va el Formulario
            
            <button type="submit" class="btn btn-color">Registrarse</button>
        </form>
    </div>
</div>
{% endblock %}
