{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Ingresa a tu cuenta:</h1>
    <div class="row">
        <div class="col-4 offset-4">
            <form action="{% url 'login' %}" method="post"> <!-- ruta nombrada -->
                {% csrf_token %}
                <div class="mt-2">
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-color">Ingresar</button>
            </form>
        </div>
    </div>
{% endblock %}