{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center my-4">Suscripcion Gratuita</h3>
    <p class="text-center">Te estas suscribiendo la plan gratuito. Podrás acceder a todos los flanes gratuitos y recibir ofertas esporádicas.</p>
    <p class="fs-5 text-center fw-bold"> Suscripcion gratis</p>
    <div class="row">
        <div class="col-4 offset-4">
            <form method="post" action="{% url 'registerfree' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Ingresa tu usuario:</label>
                    <input type="text" class="form-control" name="{{ form.username.name }}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingresa tu email:</label>
                    <input type="email" class="form-control" name="{{ form.email.name }}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingresa tu contraseña:</label>
                    <input type="password" class="form-control" name="{{ form.password1.name }}" required>
                </div>                
                <div class="mb-3">
                    <label class="form-label">Repite tu contraseña:</label>
                    <input type="password" class="form-control" name="{{ form.password2.name }}" required>
                </div>
                <button type="submit" class="btn btn-color"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Estás a un paso de entrar...">Ingresar</button>
        </div>
    </div>
{% endblock %}