/* Estilos generales */
a:hover {
    color:#00afe8 !important;
}

/* Estilos del Navbar */
.btn-outline-primary {
    color: #00afe8;
    border-color: #00afe8;
}

.btn-outline-primary:hover {
    background-color:#00afe8;
    color: white;
    border-color: #00afe8;
}

.nav-link:hover {   
    color:#00afe8;
}


/* Estilos de la Card del Index */
.en-oferta {
    color: rgb(255, 48, 48);
    font-size: 0.9rem;
}

.precio-normal {
    color:rgb(64, 64, 255);
    font-size: 0.9rem;
}

