{% extends 'base.html' %}

{% block content %}
  <h1 class="my-3">Lista de Pasteles Privados</h1>
  <div class="row">
    {% for flan in flanes %}
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 ">
        <div class="card rounded-0">
          <img src="{{ flan.image_url }}" class="card-img-top rounded-0" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ flan.name }}</h5>
            <p class="card-text">{{ flan.descripction }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Precio: (No definido)</li>
            <li class="list-group-item">
              {% if flan.is_private %}
                <span class="en-oferta">Flan Privado</span>
              {% else %}
                <span class="precio-normal">Flan Publico</span>
              {% endif %}
            </li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Pedir</a>
            <a href="#" class="card-link">Comprar</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}