{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Regístrate en Onlyflans:</h1>
<div class="row">
    <div class="col-4 offset-4">
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Ingrese Usuario:</label>
                <input type="text" class="form-control" id="username" placeholder="" name="username">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Ingrese password: </label>
                <input type="password" class="form-control" name="password1">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Repita password:</label>
                <input type="password" class="form-control" name="password2">
            </div>
            <button type="submit" class="btn btn-color">Registrarse</button>
        </form>
    </div>
</div>
{% endblock %}